{% extends 'news/base.html' %}

{% block title %}{{ news_item.title }}{% endblock %}

{% block content %}
    <div class="mb-4">
        <h2>{{ news_item.title }}</h2>
        {% if news_item.image %}
            <img src="{{ news_item.image.url }}" class="img-fluid mb-3" alt="{{ news_item.title }}">
        {% endif %}
        <p class="text-muted">Автор: {{ news_item.author }} | Опубликовано: {{ news_item.published_at }}</p>
        <p><strong>Категория:</strong> {{ news_item.category.name }}</p>
        <p>{{ news_item.content }}</p>
    </div>
{% endblock %}
